<include file="./App/Home/View/Public/header.html" xmlns="http://www.w3.org/1999/html"/>
<style type="text/css">
	.background-block .horizontal-flow {
	margin-top: 15px;
	}
	.image-tip-cry{
		background:url(__PUBLIC__/images/tips_cry.png) 25% 0/67px 100px no-repeat;
		height:100px;
		line-height:100px;
		margin:50px auto;
		padding-left:33%;
		color:#b8c4ce;
		font-size:28px
	}
</style>
<span>&nbsp;</span>

<div class="container">
	<div class="row"><h3>申请历史</h3></div>
</div>
<div class="container-fluid container-nav-tabs-2">
	<div class="container">
		<ul class="nav nav-tabs-2" role="tablist">
			<li class="<if condition='$ac eq 1'>active</if>"><a href="{:U('History/index')}">全部申请</a></li>
			<li class="<if condition='$ac eq 2'>active</if>"><a href="{:U('History/isread')}">简历已读</a></li>
			<li class="<if condition='$ac eq 3'>active</if>"><a href="{:U('History/interview')}">面试中</a></li>
			<li class="<if condition='$ac eq 4'>active</if>"><a href="{:U('History/offer')}">接到offer</a></li>
			<li class="<if condition='$ac eq 5'>active</if>"><a href="{:U('History/accept')}">已接受的offer</a></li>
			<li class="<if condition='$ac eq 6'>active</if>"><a href="{:U('History/refuse')}">已拒绝的offer</a></li>
			<li class="<if condition='$ac eq 7'>active</if>"><a href="{:U('History/bad')}">不合适</a></li>
		</ul>
	</div>
</div>
<div class="container min-height-500">
	<empty name="history">
		<div class="image-tip-cry" style="margin-bottom:300px;">暂时没有符合条件的申请</div>
	</empty>
	<notempty name="history">
		<ul id="apply-list" class="list-group list-group-simple list-group-simple-fat">
			<foreach name="history" item="h">
				<li id="applied_job_id_73986" class="list-group-item js-apply"><i class="fa fa-files-o"></i>&nbsp;
					您申请过的职位&nbsp;
					<a class="text-primary" href="{:U('Home/Job/item?jobid='.$h['jid'])}" target="_blank">{$h.comname}&nbsp;/&nbsp;{$h.jobname}</a>&nbsp;
					<if condition="$h.status eq 1">简历状态为<else/>简历状态变为</if>&nbsp;
					<a class="<if condition='$h.status lt 5'>text-success<else/>text-danger</if> js-pop-btn" href="javascript:;">{$h.statusval}&nbsp;</a>
					<span class="text-muted pull-right">{$h.addtime}</span>
				</li>
			</foreach>
		</ul>
	</notempty>
	<!--
	<notempty name="histroy">
		<div class="page">
			<span class="pre">{上一页}</span> <span class="next">{下一页}</span> <span class="total">{第 页/共 页}</span>
		</div>
	</notempty> -->

</div>
<include file="./App/Home/View/Public/footer.html"/>