<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
	    <title>注册页面</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Common/index_aio.css">
		
	</head>
	<body style="background-color: #b33333;">
		<div class="container container-register">
			<div class="row">
				<a href='{:U("Index/index")}'><img class="img-link" src="__PUBLIC__/images/website_logo.png" width="132" height="50"/></a>
			</div>
			<div class="row row-register">
				<h2 class="text-center">注册</h2>
				<div class="container">
					<div class="row" style="margin: 20px 0 10px;">
						<div class="col-sm-6 text-right">
							<a class="btn btn-lg btn-primary" style="width: 150px;" href="{:U('Register/user')}">我是求职者</a>
						</div>
						<div class="col-sm-6">
							<a class="btn btn-lg btn-primary" style="width: 150px;" href="{:U('Register/company')}">我是企业HR</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-offset-6 col-sm-6">
							<p class="form-control-static text-right" style="width: 150px; margin-top: 10px;">
								<a href="{:U('Login/login')}">已有账号登录</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- END .row-->
		</div>
	<!-- END .container-register -->
	</body>
</html>