<include file="Home@Public/header"/>
<style type="text/css">body{
	margin:0;
	padding:0;
	background-image:url(/Public/images/body_bg.png);
	width:100%;
	height:100%;
}
h1{
	margin:0;
	padding:0;
}

.bg_content{
	background-image:url(/Public/images/bg-pic.png);
	height:604px;
	background-position:center;
}
.main_content{
	background-image:url(/Public/images/pic_main_content.png);
	background-repeat:no-repeat;
	background-position:center;
	height:367px;
	padding:152px 0 0 0;
}
.back_button{
	width:155px;
	height:60px;
	margin:0 auto;
}
.button{
	background-image:url(/Public/images/back_button.png);
	background-repeat:no-repeat;
	background-position:center;
	height:60px;
	display:block;
}
.button:hover{
	background-image:url(/Public/images/hover.png);
}
.button:active{
	background-image:url(/Public/images/active.png);
}
</style>
<div class="bg_content">
	<div class="main_content"></div>
	<div class="back_button"><a href="/" class="button"></a></div>
</div>
<include file="Home@Public/footer"/>